main p::first-line {
    color: blue;
}

li::marker {
    color: brown;
    font-size: 2.5em;
}

a {
    padding: 50px;
}

a::before {
    content: url(images.jpg);
}

a::after {
    content: url(images.jpg);
}