@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 156, 255);
    height: 100vh;
    width: 100vw;

    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    background-color: black;
    width: 374px;
    height: 568px;
    border-radius: 35px;
    padding: 20px;

    display: grid;
    grid-template: repeat(7,1fr) / repeat(4,1fr);
    grid-gap: 10px;
}

input {
    font-size: 48px; 
    background-color: black;
    border: none;
    outline: none;
    text-align: right;
    padding-top: 50px;
    color: white;

    grid-row: 1/3;
    grid-column: 1/5;
}

button {
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: 0.7;
}

.azul-botao {
    background-color: rgb(61, 61, 255);
}

.azul-claro-botao {
    background-color: rgb(115, 115, 255);
    grid-row: 6/8;
    grid-column: 4/5;
}

.cinza-botao {
    background-color: grey;
}

.normal-botao {
    background-color: rgb(27, 27, 27);
}

.zero {
    grid-row: 7/8;
    grid-column: 1/3;
}