@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    background-color: #1e293b;
    height: 100vh;
    width: 100vw;
    padding: 10px;

    display: flex;
    flex-flow: row nowrap;
}

.item {
    background-color: blue;
    margin: 10px;
    width: 100%;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    flex: auto;
}